body {
    margin: 0;
    font-family: Garamond, serif;
}

.site-header {
    background-color: hsl(208, 100%, 94%);
    padding: 30px;
    text-align: left;
}

.main-content {
    background-color: hsl(207, 28%, 81%);
    padding: 30px;
}

.site-footer {
    background-color: hsl(211, 79%, 9%);
    padding: 30px;
    color: white;
}

.footer-link {
    list-style-type: none;
    color: white;
}