body {
    margin: 0;
}

.site-header {
    background-color: hsl(300, 7%, 71%);
    padding: 30px;
    text-align: left;
}

.main-content {
    background-color: hsl(293, 7%, 79%);
    padding: 30px;
}

.site-footer {
    background-color: hsl(293, 13%, 86%);
    padding: 30px;
}